@import "./shared.scss";

header {
  margin-bottom: 20px;
  padding: 20px;
  background-color: $bg-secondary;

  & .container {
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  &__title {
    font-size: 1.6rem;
    color: $title;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      color: $hover;
    }
  }
}

.logout {
  margin-left: 10px;
}
