$primary: rgba(232, 41, 62, 1);
$secondary: #007df7;
$accent: #ff735e;
$title: #1b1b1d;
$subtitle: rgba(29, 29, 31, 0.4);
$text: #1b1b1d;
$icon: #1b1b1d;
$title-inverse: #ffffff;
$text-inverse: rgba(255, 255, 255, 0.4);
$bg-primary: #ffffff;
$bg-secondary: #f5f8f8;
$bg-dark: #1e293d;
$bg-dark-accent: #20364c;
$border: rgba(207, 207, 207, 1);
$shadow: rgba(0, 0, 0, 0.15);
$overlay: rgba(0, 0, 0, 0.5);
$hover: #2f3439;
$color-1: #35404a;
$color-2: #4f6279;
$color-3: #0098d8;
$color-4: #ff4f49;
$color-5: #ff7a2f;
$color-6: #ffc700;
$color-7: #34dca2;
$color-8: #00ada9;
