@import "./shared.scss";

* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $bg-primary;
  color: $text;
}

main {
  margin: 0 auto;
  max-width: 1300px;
}
